<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js File Upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Node.js File Uploads</h1>

      <figure class="image" style="width: 256px">
        <img src="<%= image %>">
      </figure>

      <p>URL: <a href="<%= image %>" target="_blank"><%= image %></a></p>
      <p>File size: <%= new Intl.NumberFormat().format(size / 1024) %> KB</p>

    </div>
  </section>
</body>

</html>