<div style="background-color: dodgerblue;">
  <br>
  <h1 style="text-align: center; color: aliceblue; font-weight: bold;"> EDITAR ARTIGO </h1>
  <br>
</div>
<div class=" container">
  <div class="row">

    <form id="form_artigo" class="col s12" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s6">
          <input name="titulo" id="titulo" value="<%=data[0].titulo%>" type="text" class="validate">
          <label for="titulo">Título</label>
        </div>
        <div class="input-field col s6">
          <input name="descricao" id="descricao" value="<%=data[0].descricao%>" type="text" class="validate">
          <label for="descricao">Descrição</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="conteudo" id="conteudo" value="<%=data[0].conteudo%>" type="text" class="validate">
          <label for="conteudo">Conteúdo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="autor" id="autor" value="<%=data[0].autor%>" type="text" class="validate">
          <label for="autor">Autor</label>
        </div>
        <div class="input-field col s3">
          <input name="data_criacao" id="data_criacao" value="<%=data[0].data_criacao%>" type="date" class="validate">
          <label for="data_criacao">Data de Criação</label>
        </div>
        <div class="input-field col s3">
          <input name="data_modificacao" id="data_modificacao" value="<%=data[0].data_modificacao%>" type="date" class="validate">
          <label for="data_modificacao">Data de Modificação</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="referencia" id="referencia" value="<%=data[0].referencia%>" type="text" class="validate">
          <label for="referencia">Referência</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <button onclick="update_artigo()" class="btn waves-effect waves-light" id="list">Atualizar
            <i class="material-icons right">send</i>
          </button>
        </div>
        <!-- <div class="row">
          <div class="input-field col s6"> -->
            <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Testando: Novo Artigo</a> -->
            <!-- Falta adicionar essa mensagem ao botão 'Cadastrar' e excluir o botão 'Testando'-->
            <!-- <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Cadastrar novo artigo</h4>
                <p>Seu artigo foi publicado com sucesso! Deseja cadastrar outro?</p>
              </div>
              <div class="modal-footer">
                <a href="#" class="modal-close waves-effect waves-red btn-flat" style="color: red">Não</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="color: green">Sim</a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </form>

  </div>
</div>

<!-- <script src="./js/multer.js"></script> -->
<script src="./js/jquery-form.js"></script>
<script>
  function mudar() {
      $("#titulo").focus()
      $("#descricao").focus()
      $("#conteudo").focus()
      $("#autor").focus()
      $("#data_criacao").focus()
      $("#data_modificacao").focus()
      $("#referencia").focus()
    }

  $(document).ready(function () {
    mudar();
  });

  function update_artigo() {
    $('#form_artigo').ajaxForm({
      url: './update_artigo',
      type: 'post',
      success: function (data) {
        console.log('passando', data)
      }
    })
  }

  $('#list').click(function () {
    var sim = confirm('quer continuar?')
    if (sim == false) {
      $.ajax({
        url: './listagem',
        method: 'get',
        success: function (data) {
          $('#load').html(data);
          console.log('passei');
        }
      });
    } else {
      $.ajax({
        url: './listagem',
        method: 'get',
        success: function (data) {
          $('#load').html(data);
          console.log('passei');

        }
      });
    }
  })
</script>

<!-- <script>
  // modal para add ou não outro artigo
  $(document).ready(function () {
    $('.modal').modal();
  });
</script> -->