<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Portal Web Dev</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/newcss.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/flipcards.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/profilecard.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/infographic.css">

</head>

<body>

  <div class="carousel carousel-slider center">
    <div class="carousel-item blue white-text" href="#one!">
      <img src="assets/html_fundo.png" style="display: block; max-width: 100%; height: auto;">
      <!-- <h2 style="margin-top: 150px; font-size: 36px;">HTML</h2> -->
      <!-- <p class="white-text">HTML</p>       -->
    </div>
    <div class="carousel-item blue white-text" href="#two!">
      <img src="assets/css_fundo.png" style="display: block; max-width: 100%; height: auto;">
      <!-- <h2 style="margin-top: 150px; font-size: 36px;">CSS</h2> -->
      <!-- <p class="white-text">CSS</p> -->
    </div>
    <div class="carousel-item yellow white-text" href="#three!">
      <img src="assets/js_fundo.png" style="display: block; max-width: 100%; height: auto;">
      <!-- <h2 style="margin-top: 150px; font-size: 36px;">JAVASCRIPT</h2> -->
      <!-- <p class="white-text">JAVASCRIPT</p> -->
    </div>
    <div class="carousel-item green white-text" href="#four!">
      <img src="assets/node_fundo.png" style="display: block; max-width: 100%; height: auto;">
      <!-- <h2 style="margin-top: 150px; font-size: 36px;">NODEJS</h2> -->
      <!-- <p class="white-text">NODEJS</p> -->
    </div>
    <br><br>
  </div>
  </div>

  <br>
  <br>
  <br>

  <h1>Neste site você encontrará tudo isso e muito mais!</h1>
  <div class="container1">

    <div class="card">
      <div class="title">

      </div>
      <div class="circle">1</div>
      <div class="content">
        <h3>HTML 5</h3>
        <p>HTML 5 é uma pilha de soluções de software que define as propriedades e comportamentos do conteúdo da
          página da Web implementando um padrão baseado em marcação para ele.</p>
        <div class="icon">
          <i class="fab fa-html5"></i>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="title">
        Tema
      </div>
      <div class="circle">2</div>
      <div class="content">
        <h3>CSS 3</h3>
        <p>Cascading Style Sheets (CSS) é uma linguagem de folha de estilo usada para descrever o visual e a
          formatação de um documento escrito em uma linguagem de marcação.</p>
        <div class="icon">
          <i class="fab fa-css3-alt"></i>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="title">
        Tema
      </div>
      <div class="circle">3</div>
      <div class="content">
        <h3>JavaScript</h3>
        <p>JavaScript, muitas vezes abreviado como JS, é uma linguagem de script de alto nível e interpretada que está
          em conformidade com a especificação ECMAScript.</p>
        <div class="icon">
          <i class="fab fa-js-square"></i>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>


  <div class="wrapper ">
    <div class="cols ">
      <%for (var i = 0; i < data.length; i++) {%>
      <a class="listar" href="#" name="/individual?id_artigo=<%= data[i].id_artigos%>">
        <div class="col s12 hoverable">
          <h5>
            <%= data[i].titulo %>
          </h5>
          <div class="card horizontal">
            <div class="card-image">
              <img src="<%= data[i].imagem_artigo %>">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  <%= data[i].descricao %>
                </p>
              </div>
              <div class="card-action">
                <a href="#" name="/individual?id_artigo=<%= data[i].id_artigos%>"></a>
              </div>
            </div>
          </div>
        </div>
      </a>
      <%}%>
        </div>
    </div>


    <script>
      $('.listar').click(function () {
        $.ajax({
          url: $(this).attr("name"),
          method: 'get',
          success: function (data) {
            $('#load').html(data);
            console.log('passei');
          }
        });
      });
    </script>
    <script>
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });
      autoplay();

      function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
      }
    </script>




</body>