<div style="background-color: dodgerblue;">
    <br>
    <h1 style="text-align: center; color: aliceblue; font-weight: bold;"> CADASTRO DE ARTIGOS </h1>
    <br>
</div>
<div class=" container">
    <div class="row">
        <div id="erros"></div>

        <form id="form_artigo" class="col s12" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input name="titulo" id="titulo" type="text" class="validate">
                    <label for="titulo">Título</label>
                </div>
                <div class="input-field col s6">
                    <textarea class="materialize-textarea" id="descricao" name="descricao" class="validate"></textarea>
                    <label for="descricao">Descrição</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="conteudo" id="conteudo" type="text" class="validate">
                    <label for="conteudo">Conteúdo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="autor" id="autor" type="text" class="validate">
                    <label for="autor">Autor</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="referencia" id="referencia" type="text" class="validate">
                    <label for="referencia">Referência</label>
                </div>
            </div>
            <div class="row">
                <div id="file-js-example" class="input-field col s6">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Arquivo</span>
                            <input class="file-input" id="inputImg" type="file" name="artigo" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <img width="50" src="" id='imagem' alt="" srcset="">
            <div class="row">
                <div class="input-field col s12">
                    <button onclick="salvar_artigo()" class="btn waves-effect waves-light" id="list">Cadastrar
                  <i class="material-icons right">send</i>
                </button>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Testando: Novo Artigo</a>
                        <!-- Falta adicionar essa mensagem ao botão 'Cadastrar' e excluir o botão 'Testando'-->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Cadastrar novo artigo</h4>
                                <p>Seu artigo foi publicado com sucesso! Deseja cadastrar outro?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect waves-red btn-flat" style="color: red">Não</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="color: green">Sim</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="./js/multer.js"></script>
<script src="./js/jquery-form.js"></script>
<script>
    function salvar_artigo() {
        $('#form_artigo').ajaxForm({
            url: './salvar_artigo',
            type: 'post',
            success: function(data) {
                console.log('passando', data)
            }
        })
    }

    function salvar_artigo() {
        $('#form_artigo').ajaxForm({
            url: './salvar_artigo',
            type: 'post',
            success: function(data) {
                console.log('passando', data)
                var dados = '';
                if (data.validacao === "salvei") {
                    var sim = confirm('quer continuar?')
                    if (sim == false) {
                        $.ajax({
                            url: './listagem',
                            method: 'get',
                            success: function(data) {
                                $('#load').html(data);
                                console.log('passei');
                            }
                        });
                    } else {
                        $.ajax({
                            url: './incluir_artigo',
                            method: 'get',
                            success: function(data) {
                                $('#load').html(data);
                                console.log('passei');

                            }
                        });
                    }
                } else {
                    for (var i = 0; i < data.validacao.length; i++) {
                        dados += '<br>' + data.validacao[i].msg;
                    }
                    document.getElementById('erros').innerHTML = dados
                }
            }
        })
    }

    // $('#list').click(function () {
    //  var sim = confirm('quer continuar?')
    //  if (sim == false) {
    //   $.ajax({
    //     url: './listagem',
    //     method: 'get',
    //     success: function (data) {
    //       $('#load').html(data);
    //       console.log('passei');
    //     }
    //   });
    // }else {
    //   $.ajax({
    //     url: './incluir_artigo',
    //     method: 'get',
    //     success: function (data) {
    //       $('#load').html(data);
    //       console.log('passei');

    //     }
    //     });
    //   }
    // })
</script>

<script>
    // modal para add ou não outro artigo
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>
