<div style="background-color: dodgerblue;">
  <br>
  <h1 style="text-align: center; color: aliceblue; font-weight: bold;"> CADASTRO DE USUÁRIOS </h1>
  <br>
</div>
<div class=" container">
  <div class="row">
    <div id="erros"></div>

    <form id="form_usuario" class="col s12" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s6">
          <input name="nome" id="nome" type="text" class="validate">
          <label for="nome">Nome</label>
        </div>
        <div class="input-field col s6">
          <textarea class="materialize-textarea" name="descricao" id="descricao" class="validate"></textarea>
          <label for="descricao">Descrição</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="funcao_projetos" id="funcao_projeto" type="text" class="validate">
          <label for="funcao_projeto">Função no projeto</label>
        </div>
        <div class="input-field col s6">
          <input name="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="senha" id="senha" type="password" class="validate">
          <label for="senha">Senha</label>
          <i onclick="verSenha()" class="material-icons">visibility</i>
        </div>
        <div class="input-field col s6">
          <input name="senha" id="conf_senha" type="password" class="validate">
          <label for="conf_senha">Confirmação de Senha</label>
          <p id="valida_senha"></p>
        </div>
      </div>
      <div class="row">
        <div id="file-js-example" class="input-field col s6">
          <div class="file-field input-field">
            <div class="btn">
              <span>Arquivo</span>
              <input class="file-input" id="inputImg" type="file" name="imagem_usuario" accept="image/*">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>
      <img width="50" src="" id='imagem' alt="" srcset="">
      <div class="row">
        <div class="input-field col s12">
          <button onclick="salvar_usuario()" id="cadastro" class="btn waves-effect waves-light">Cadastrar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
    
  </div>
</div>
<script src="./js/multer.js"></script>
<script src="./js/jquery-form.js"></script>
<script>
  function salvar_usuario() {
    $('#form_usuario').ajaxForm({
      url: './salvar_usuario',
      type: 'post',
      success: function (data) {
        console.log('passando', data)
        var dados = '';
        if (data.validacao === "salvei") {
          $.ajax({
            url: './incluir_usuario',
            method: 'get',
            success: function (data) {
              $('#load').html(data);
              console.log('passei');
            }
          });
        } else {
          for (var i = 0; i < data.validacao.length; i++) {
            dados += '<br>' + data.validacao[i].msg;
          }
          document.getElementById('erros').innerHTML = dados
        }
      }
    })
  }

  var senha = document.getElementById("senha");
  var conf_senha = document.getElementById("conf_senha");
  
  conf_senha.addEventListener("mouseout", function () {
    if (senha.value !== conf_senha.value) {
      document.getElementById('valida_senha').innerHTML = 'Senhas não conferem'

    } else {
      document.getElementById('valida_senha').innerHTML = ''

    }
  })

  function verSenha() {
    // console.log(senha.type)
    if (senha.type === "password") {
      senha.type = "text";
      conf_senha.type = "text";
    } else {
      senha.type = "password";
      conf_senha.type = "password";
    }
  }


  // $('#cadastro').click(function (){
  //   $.ajax({
  //     url: './home',
  //     method: 'get',
  //     success: function (data) {
  //       $('#load').html(data);
  //       console.log('passei');
  //     }
  //   });
  // });
</script>
