<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Portal Web Dev</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-color: #F5FFFA; color: #000080;">
  <div class=" navbar-fixed">
    <nav class="escurecer-fundo" style="background-color: #F0F8FF;" role="navigation">
      <div class="nav-wrapper">
        <div class=" container">
          <a style="color: #000080; font-weight: bold;" id="logo-container" href="#" class="brand-logo"> <img
              style="margin-top: 5px;" src="./assets/logo.png" width="150"> </a>
        </div>

        <div class="switch">
          <label id="esconde">
            <input name="alavanca" type="checkbox">
            <span class="lever"></span>
            <a class="escurecer-texto" style="color: #000080;">Modo escuro</a>
          </label>
          <ul class="right hide-on-med-and-down">
            <li><a class="escurecer-texto" id="home" style="color: #000080;" href="#">Home</a></li>
            <li><a class="escurecer-texto" id="listagem" style="color: #000080;" href="#">Listagem de Artigos</a></li>
            <li><a style="color: #000080;" class='dropdown-trigger escurecer-texto' href='#'
                data-target='dropdown1'>Cadastrar</a></li>
            <li><i onclick="pesquisa()" class="material-icons blue-text md-24">search</i></li>
            <li><a style="color: #000080;" class='dropdown-trigger escurecer-texto' href='#'
                data-target='dropdown2'>Tamanho de texto</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i style="color: #000080;"
              class="material-icons escurecer-texto">menu</i></a>
        </div>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="sidenav escurecer-fundo">
    <li><a class="escurecer-texto" id="homeM" style="color: #000080;" href="#">Home</a></li>
    <li><a class="escurecer-texto" id="incluir_usuarioM" style="color: #000080;" href="#">Cadastrar Usuário</a></li>
    <li><a class="escurecer-texto" id="incluir_artigoM" style="color: #000080;" href="#">Cadastrar Artigos</a></li>
    <li><a class="escurecer-texto" id="listagemM" style="color: #000080;" href="#">Listagem de Artigos</a></li>
    <li>
      <div class="switch">
        <label>
          <input name="alavancaM" type="checkbox">
          <span class="lever"></span>
          <a class="escurecer-texto" style="color: #000080;">Modo escuro</a>
        </label>
    </li>
  </ul>

  <ul style="background-color: #F0F8FF;" id='dropdown1' class='dropdown-content escurecer-fundo'>
    <li><a class="escurecer-texto" id="incluir_usuario" style="color: #000080;" href="#">Usuário</a></li>
    <li><a class="escurecer-texto" id="incluir_artigo" style="color: #000080;" href="#">Artigos</a></li>
  </ul>

  <ul style="background-color: #F0F8FF;" id='dropdown2' class='dropdown-content escurecer-fundo'>
    <li><a id="aumenta" style="color: #000080;" class="escurecer-texto" href="#">aumentar<i
          class="material-icons">zoom_in</i></a></li>
    <li><a id="diminui" style="color: #000080;" class="escurecer-texto" href="#">diminuir<i
          class="material-icons">zoom_out</i></a></li>
  </ul>


  <div id="load"></div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./js/materialize.js"></script>
  <script src="./js/init.js"></script>
  <script src="./js/funcionality.js"></script>
  <script src="./js/mudaCor.js"></script>

  <script>
    var pesquisa = document.getElementById("pesquisa");
    pesquisa.addEventListener("click", function () {

    })
  </script>



</body>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col 3 s12">
        <h5 class="white-text">Curso de Programação Web Senac</h5>
        <p class="text text-lighten-4">Av. Visconde de Suassuna, 500 - Santo Amaro - Recife - Pernambuco</p>
      </div>
      <div class="col 3 s12">
        <h5 class="white-text">Contato:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">senac@pe.senac.br</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">facebook.com/senacpe</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">twitter.com/senacpe</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">instagram.com/senacpe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="#!">Site Oficial</a>
    </div>
  </div>
</footer>


</html>