<style>
    h1 {text-align: center;}
    #campo {font-weight: bold;}
    h3 {font-style: italic;}
    h5 {font-style: italic;}
    code {
        background-color: #f8f9fa;
        border: 1px solid #eaecf0;
        border-radius: 2px;
        padding: 1px 4px;    
        }
</style>
<div style="background-color: dodgerblue;">
    <div style="color: aliceblue;" class="container">
        <br>
        <h3 style="font-weight: bold;"><%=data[0].titulo%></h3>
        <h5 style="font-style: normal !important;"><%=data[0].descricao%></h5>
        <br><br>
    </div>
</div>
<div class="container"> 
    <p id='conteudo'><%-data[0].conteudo%></p>
      
    <br>
    <p style="font-style: italic; text-align: right;">Criado em <%=data[0].data_criacao%></p>
    <p style="font-style: italic; text-align: right;">Modificado em <%=data[0].data_modificacao%></p>
    <br> 
</div>
<footer style="background-color: dodgerblue; color: aliceblue;">
    <div class="container">
        <br>
        <p> <strong id="campo">Fonte: </strong> <%=data[0].autor%></p>
        <br>
        <p id="campo" style="border-bottom: 1px solid aliceblue;" >Referências </p>
        <p><%=data[0].referencia%></p>
        <br>
        
    </div>
</footer>
