<div style="background-color: dodgerblue;">
  <br>
  <h1 style="text-align: center; color: aliceblue; font-weight: bold;" > LISTAGEM DE ARTIGOS </h1>
  <br>
</div>
<div id="test2" class="col s12">
  <ul class="collection">
    <%= console.log('estou aqui: ', data) %>
    <%for (var i = 0; i < data.length; i++) {%>
    <li class="collection-item avatar">
    <a class="listar" href="#" name="/individual?id_artigo=<%= data[i].id_artigos%>">
        <img src="../.<%=data[i].imagem_artigo%>" alt="" class="circle">
        <span style="font-weight: bold; font-size: 18px;" class="title"><%=data[i].titulo%></span>
        <p style="font-style: italic;" ><%=data[i].descricao%></p>
        <a  class="secondary-content"><%=data[i].data_criacao%></a>
        <div style="text-align: right">
          <a class="waves-effect waves-light editar btn" edit="/editar_artigo?id_artigo=<%= data[i].id_artigos%>"><i class="material-icons center" style="font-size: 20px">edit</i></a>
          <a class="waves-effect waves-light btn"><i class="material-icons center delete" style="font-size: 20px">delete</i></a>
        </div>
      </a>
    </li>
    <%}%>
  </ul>
</div>

<script>
   $('.listar').click(function(){
          $.ajax({
            url: $(this).attr("name"),
            method: 'get',
            success: function(data){
              $('#load').html(data);
              console.log('passei');
            }
          });
        });

   $('.editar').click(function(){
          $.ajax({
            url: $(this).attr("edit"),
            method: 'get',
            success: function(data){
              $('#load').html(data);
              console.log('passei');
              $('#titulo').click()
            }
          });
        });
         
</script>