/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  background-color: #F5FFFA;
  color: #000080;
}

.escurecer-fundo {
  background-color: none;
}

.escurecer-texto {
  background-color: none;
}

@media only screen and (max-width: 990px) {
  #esconde {
    display: none;
  }
}
